@model BMT.Airline.Web.Models.ProposalsReportViewModel
@{

    ViewBag.Title = "Index";
    ViewBag.AirlineName = Model.AirlineName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Active Proposals - @Model.AirlineName</h2>

<table class="table table-hover" id="proposals-table">
    <thead>
        <tr>
            <th>Departure Date</th>
            <th>Return Date</th>
            <th>Departure City</th>
            <th>Arrival City</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var proposal in Model.Proposals)
        {
            <tr class="@(proposal.IsAcceptable ? "bg-success" : "bg-danger")">
                <td>@proposal.DepartureDate.ToShortDateString()</td>
                <td>@proposal.ReturnDate.ToShortDateString()</td>
                <td>@proposal.DepartureCity</td>
                <td>@proposal.ArrivalCity</td>
                <td>@proposal.Price</td>
                <td>
                    @if (proposal.IsAcceptable)
                    {
                        @Html.ActionLink("Make offer", "Index", "Acceptance",new { ProposalId = proposal.ProposalId }, null)
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#proposals-table').DataTable();
    });
</script>

