@model BMT.Airline.Web.Models.ProposalsReportViewModel
@{

    ViewBag.Title = "Index";
    ViewBag.AirlineName = Model.AirlineName;
    ViewBag.AirlineLogo = Model.AirlineLogo;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Active Proposals</h2>

<table class="table table-hover" id="proposals-table">
    <thead>
        <tr>
            <th>Departure Date</th>
            <th>Return Date</th>
            <th>Departure City</th>
            <th>Arrival City</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var proposal in Model.Proposals)
        {

            <tr class="@GetItemClass(proposal.IsAcceptable, proposal.Offers.Count(), proposal.Status) @(proposal.IsInteresting?"font-weight-bold":"")">
                <td>@proposal.DepartureDate.ToShortDateString()</td>
                <td>@proposal.ReturnDate.ToShortDateString()</td>
                <td>@proposal.DepartureCity</td>
                <td>@proposal.ArrivalCity</td>
                <td>@proposal.Price</td>
                <td>
                    @if (proposal.IsAcceptable)
                    {
                        if (proposal.AllowMoreOffers)
                        {
                            @Html.ActionLink("Make offer", "Index", "Acceptance", new { ProposalId = proposal.ProposalId }, null);
                        }
                        else
                        {
                            @Html.ActionLink("View", "Index", "Acceptance", new { ProposalId = proposal.ProposalId }, null);
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@functions {
    public string GetItemClass(bool isAcceptable, int NumberOfOffers, string status)
    {
        if (!isAcceptable)
            return "table-active";

        if (NumberOfOffers > 0)
            return "table-info";

        if (status == "CONFIRMED" || status == "CLOSED")
            return "table-success";

        return "table-warning";
    }
}

<script>
    $(document).ready(function () {
        $('#proposals-table').DataTable();
    });
</script>

