@model BMT.Customer.Web.Dtos.ProposalsDto


<div>
    @Html.ActionLink("Create New Proposal", "Index", "Customer")
</div>

<table class="table table-hover" id="proposals-table">
    <thead>
        <tr>
            <th>Departure Date</th>
            <th>Return Date</th>
            <th>Departure City</th>
            <th>Arrival City</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var proposal in Model.Proposals)
        {
            <tr class="@GetItemClass(proposal.Status)">
                <td>@proposal.OutboundDate.ToShortDateString()</td>
                <td>@proposal.InboundDate.ToShortDateString()</td>
                <td>@proposal.DepartureCity</td>
                <td>@proposal.ArrivalCity</td>
                <td>@proposal.Price</td>
                <td>
                    @if (proposal.HasOffers)
                    {
                        if (proposal.Status == "CONFIRMED" || proposal.Status == "CLOSED")
                        {
                            @Html.ActionLink("View", "Index", "Offer", new { ProposalId = proposal.ProposalId }, null)
                        }
                        else
                        {
                            @Html.ActionLink("Go to Offers", "Index", "Offer", new { ProposalId = proposal.ProposalId }, null)
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@functions {
    public string GetItemClass(string status)
    {
        if (status == "CONFIRMED" || status == "CLOSED")
            return "bg-yellow";

        return "";
    }
}