@model BMT.Customer.Web.Dtos.ProposalsDto

<table class="table table-hover" id="proposals-table">
    <thead>
        <tr>
            <th>Departure Date</th>
            <th>Return Date</th>
            <th>Departure City</th>
            <th>Arrival City</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var proposal in Model.Proposals)
        {
        <tr class="@( proposal.IsAcceptable ? "bg-success" : "")">
            <td>@proposal.OutboundDate.ToShortDateString()</td>
            <td>@proposal.InboundDate.ToShortDateString()</td>
            <td>@proposal.DepartureCity</td>
            <td>@proposal.ArrivalCity</td>
            <td>@proposal.Price</td>
            <td>
                @if (proposal.IsAcceptable)
                {
                    @Html.ActionLink("Accept / Offer", "Index", "Acceptance", new { OfferId = proposal.OfferId, ProposalId = proposal.ProposalId }, null)
                }
            </td>
        </tr>
        }
    </tbody>
</table>
