@model BMT.Airline.Web.Models.ProposalViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Make an offer</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <form id="customerForm" name="customerForm" method="post" action="@Url.Action("PostOffer","Acceptance")">
                <input type="hidden" value="@Model.ProposalId" name="proposalId" />
                <div class="form-group">
                    <label for="departureDatetime">Departure Date:</label>
                    <input id="departureDatetime" value="@Model.DepartureDate.ToString("yyyy-MM-dd")" class="form-control" type="date" name="departureDate" />
                </div>

                <div class="form-group">
                    <label for="arrivalDatetime">Return Date:</label>
                    <input id="arrivalDatetime" value="@Model.ReturnDate.ToString("yyyy-MM-dd")" class="form-control" type="date" name="returnDate" />
                </div>

                <div class="form-group">
                    <label for="price">Price:</label>
                    <input id="price" value="@Model.Price" class="form-control" type="number" name="price" />
                </div>

                <div class="form-group">
                    <label for="offerCode">Offer Code:</label>
                    <input id="offerCode" value="" class="form-control" type="text" name="offerCode" />
                </div>

                <button type="submit" class="btn btn-primary">Send Offer</button>
                &nbsp;<span>@Html.ActionLink("Go to Proposals", "Index", "Proposals")</span>

            </form>
        </div>
        <div class="col-lg-5">
            <div class="row">
                <br />
                <br />
                <div class="row">
                    Proposed Price: @Model.Price €
                </div>
                <div class="row">
                    Departure Date: @Model.DepartureDate.ToShortDateString()
                </div>
                <div class="row">
                    Return Date: @Model.ReturnDate.ToShortDateString()
                </div>
                <div class="row">
                    Passengers:
                    <ul>
                        @foreach (var passenger in Model.Passengers)
                        {
                            <li>
                                @passenger.FirstName @passenger.SecondName - @passenger.PassengerType
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <h3>Received offers</h3>
        <table class="table" id="proposals-table">
            <thead>
                <tr>
                    <th>Creation Date</th>
                    <th>Airline</th>
                    <th>Departure Date</th>
                    <th>Return Date</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var offer in Model.Offers)
                {
                    <tr>
                        <td>@offer.CreationTime</td>
                        <td>@offer.AirlineName</td>
                        <td>@offer.DepartureDate.ToShortDateString()</td>
                        <td>@offer.ReturnDate.ToShortDateString()</td>
                        <td>@offer.Price</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<script>

</script>

