@model BMT.Airline.Web.Models.ProposalViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.AllowMoreOffers)
{
    <h2>Make an offer</h2>
}
else
{
    <h2>Proposal Details</h2>
}

<div class="container">
    <div class="row">
        @if (Model.AllowMoreOffers)
        {
            <div class="col-sm-4">
                <form id="customerForm" name="customerForm" method="post" action="@Url.Action("PostOffer", "Acceptance")">
                    <input type="hidden" value="@Model.ProposalId" name="proposalId" />
                    <div class="form-group">
                        <label for="departureDatetime">Departure Date:</label>
                        <input id="departureDatetime" value="@Model.DepartureDate.ToString("yyyy-MM-dd")" class="form-control" type="date" name="departureDate" />
                    </div>

                    <div class="form-group">
                        <label for="arrivalDatetime">Return Date:</label>
                        <input id="arrivalDatetime" value="@Model.ReturnDate.ToString("yyyy-MM-dd")" class="form-control" type="date" name="returnDate" />
                    </div>

                    <div class="form-group">
                        <label for="price">Price:</label>
                        <input id="price" value="@Model.Price" class="form-control" type="number" name="price" />
                    </div>

                    <div class="form-group">
                        <label for="offerCode">Offer Code:</label>
                        <input id="offerCode" value="" class="form-control" type="text" name="offerCode" />
                    </div>

                    <button type="submit" class="btn btn-primary">Send Offer</button>
                    &nbsp;<span>@Html.ActionLink("Go to Proposals", "Index", "Proposals")</span>

                </form>
            </div>
        }
        <div class="col-sm-8">
            <div class="row">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Proposed Price:</td>
                            <td>@Model.Price €</td>
                        </tr>
                        <tr>
                            <td>Departure Date:</td>
                            <td>@Model.DepartureDate.ToShortDateString()</td>
                        </tr>
                        <tr>
                            <td>Return Date:</td>
                            <td>@Model.ReturnDate.ToShortDateString()</td>
                        </tr>
                        <tr>
                            <td>Passengers:</td>
                            <td>
                                <ul class="list-group  list-group-flush">
                                    @foreach (var passenger in Model.Passengers)
                                    {
                                        <li class="list-group-item">
                                            @passenger.FirstName @passenger.SecondName - @passenger.PassengerType
                                        </li>
                                    }
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <h3>Received offers</h3>
        <table class="table" id="proposals-table">
            <thead>
                <tr>
                    <th>Creation Date</th>
                    <th>Airline</th>
                    <th>Departure Date</th>
                    <th>Return Date</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var offer in Model.Offers)
                {
                    <tr class="@(offer.Selected ? "success": "")">
                        <td>@offer.CreationTime</td>
                        <td>@offer.AirlineName</td>
                        <td>@offer.DepartureDate.ToShortDateString()</td>
                        <td>@offer.ReturnDate.ToShortDateString()</td>
                        <td>@offer.Price</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<script>

</script>

