@model BMT.Customer.Web.Dtos.ProposalAcceptanceDto

<div>
    <h3>Proposal data</h3>
    <div class="row">
        Price: @Model.Price €
    </div>
    <div class="row">
        Departure Date: @Model.OutboundDate.ToString("yyyy-MM-dd")
    </div>
    <div class="row">
        Return Date: @Model.InboundDate.ToString("yyyy-MM-dd")
    </div>
    <div class="row">
        Passengers:
        <ul>
            @foreach (var passenger in Model.Passengers)
            {
                <li>
                    @passenger.FirstName @passenger.SecondName - @passenger.PassengerType
                </li>
            }
        </ul>
    </div>

    @Html.ActionLink("Confirm Offer", "ConfirmOffer", "Acceptance", new { proposalId = Model.ProposalId, offerId = Model.OfferId }, new { @class="btn btn-primary btn-sm"} )
</div>